/* Colours. */
$darkSlateGray: #05080a;
$gold: #f7bf27;
$lightGrayishCyan: #e8ebe9;
$navajoWhite: #fbdd8a;
$veryDarkBlue: #01456a;
$softBlue: #86d4fe;
$veryLightGray: #f9f9f9;
$white: #FBFBFB;

/* Variables for white-labelling. */
$backgroundColour: $white;
$rowColour: $gold;
$alternatingRowColour: $navajoWhite;
$headerColour: $veryDarkBlue;
$headerHoverColour: $darkSlateGray;
$borderColour: $veryDarkBlue;
$textColour: $darkSlateGray;
$activeObjectColour: $softBlue;